body{
    font-family: Arial, "Roboto Light", monospace;
    background-color: rgb(244,244,244);
}
#content{
    width:80%;
    margin:0 auto;
}
p{
	margin: 12px;
}
a{
	margin:16px;
}
.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}
video{
    width: 100%;
}